header{
    height:10%;
     margin-bottom: 25px;
   }
   .navbar-nav >li{
       width:130px;
       font-weight: bold;
       &:hover{
           cursor:pointer;
           background-color: lightblue;
       }
       &:active{
        transform: translate(1px, 1px);
       }
   }
   