
<header>
    <div class="navbar navbar-expand-sm navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" routerLink="">
              <span class="bg-primary bg-gradient p-1 rounded-3 text-light">
                Bank
              </span>
              </a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a routerLink="" class="nav-link active" >Home</a>
                </li>
                <li class="nav-item">
                    <a routerLink="accountcreate" class="nav-link active" >Creat Account</a>
                </li>
                <li class="nav-item">
                    <a (click)="goToSendMoney()" class="nav-link active">Send Money</a>
                </li>
                <li class="nav-item">
                    <a (click)="goToUploadmoney()" class="nav-link active">Upload funds</a>
                </li>
    
            </ul>
        </div>
    </div>
</header>
