<div class="row">
    <div class="col-sm-3 p-2"  *ngFor="let account of listAccount">
      <div class="card">
        <div class="card-body">

          <p class="card-title"> Account Number :<span> {{account.accountNumber}}</span></p>
          <p class="card-text">Account owner <span>{{account.firstName}} {{account.lastName}}</span></p>
          <p class="card-text">Available funds <span>{{account.amount}} €</span></p>
          <div class="d-grid gap-2 d-md-flex ">
          <a  class="btn btn-primary card-link" (click)="toSendMoney(account)">Send </a>
          <a  class="btn btn-primary text-start" (click)="uploadMoney(account)">Upload funds</a>
        </div>
        </div>
      </div>
    </div>
  </div>