<button routerLink="" class="goBack">Go back</button>
<form [formGroup]="form" (ngSubmit)="signUp()" >
    <div class="form-group m-3">
        <label for="firstName" class="form-label">First Name<span>*</span></label>
        <input formControlName="firstName" type="text" id="firstName" (keyup)="isValid=false"  class="form-control"
            placeholder="Your first name">

        <div *ngIf="firstName.touched && firstName.invalid" class="text-danger">
            <div *ngIf="firstName.errors.required">The first name is required !</div>
            
            <div *ngIf="firstName.errors.minlength">
                first name should be minimum {{firstName.errors.minlength.requiredLength}} characters </div>
                <div *ngIf="firstName.errors.shoudNotContainSpace">first name shoud not contain a space</div>
                <div *ngIf="firstName.errors.pattern" > first name should contain only alphabets</div>
        </div>
    </div>
    <div class="form-group m-3">
        <label for="lastName" class="form-label">Last Name<span>*</span></label>
        <input formControlName="lastName" type="text" id="lastName" class="form-control" placeholder="Your last name">
        
        <div *ngIf="lastName.touched && lastName.invalid" class="text-danger">
            <div *ngIf="lastName.errors.required">last name is required</div>
            <div *ngIf="lastName.errors.minlength">last name shoud be minimum
                {{lastName.errors.minlength.requiredLength}} characters </div>
                <div *ngIf="lastName.errors.shoudNotContainSpace">last name shoud not contain a space</div>
                <div *ngIf="lastName.errors.pattern" > last name should contain only alphabets</div>
        </div>
    </div>

<div class="form-group m-3">
    <label for="email" class="form-label">Email<span>*</span></label>
        <input formControlName="email" type="email" class="form-control" id="email" placeholder="Your email">
        <div *ngIf="email.touched && email.invalid" class="text-danger">
            <div *ngIf="email.errors.required">Email is required</div>
            <div *ngIf="email.errors.pattern">Adress is invalid</div>
        </div>
    </div>


    <div class="form-group m-3">
        <label for="password" class="form-label">Password<span>*</span></label>
        <input formControlName="password" type="password" class="form-control" id="password" placeholder="your password">
        <div *ngIf="password.touched && password.invalid" class="text-danger">

            <div *ngIf="password.errors.required">password is required</div>

            <div *ngIf="password.errors.minlength">
                first name should be minimum {{password.errors.minlength.requiredLength}} characters </div>
            <div *ngIf="password.errors?.shouldContainUppercaseCharacter"> 
                password should contains at least one UPPERCASE character</div>

            <div *ngIf="password.errors?.shouldContainLowerCaseCharacter"> 
                password should contains at least one LOWERCASE character</div>

            <div *ngIf="password.errors?.shouldContainSpecialCharacter"> 
                password should contains at least one special character</div>
        
            <div *ngIf="password.errors?.shouldContainNumber"> 
                password should contains at least one Number</div>

            <div *ngIf="password.errors?.shoudNotContainSpace">password shoud not contain a space</div>
        </div>
        
    </div>

    <div class="form-group m-3">
        <label for="InitialAmount" class="form-label">Initial amount<span>*</span></label>
        <input formControlName="initialAmount" id="InitialAmount" 
        placeholder="Your first amount" 
        type="number" class="form-control">
        <div *ngIf="initialAmount.touched && initialAmount.invalid" class="text-danger" >
        <div *ngIf="initialAmount.errors.required">You must fund your account to activate it </div>
        <div *ngIf="initialAmount.errors.shoudBePositif">minimum amount should be EQUAL OR GREATER than 20€ </div>
        </div>
    </div>
    <div class="text-danger" style="text-align: center;">{{msgError}}</div>
    <div *ngIf="isValid" style="text-align: center;color: green;">{{getStaticAccountNUmber() | number:'9.0-0':'fr-FR'}}</div>
    <div class="d-grid gap-2">
      
    <button class="btn btn-success ">Sign Up</button>
    </div>
</form>