<form [formGroup]="form"  (ngSubmit)="senMoney()">
 
<div class="row">
    <div class="col-5 form-group m-3 sender">
            <h4 class="p-3">Sender</h4>
            <div>
              <div>
                <label for="numberOfAccount" class="form-label ">Account number of the sender<span>*</span></label>
                
                <input [style.color]="notExist ? 'green' : 'red'" (keyup)="verifyAccountSender($event)" formControlName="numberOfAccount" type="number" class="form-control" id="numberOfAccount">
  
                <div *ngIf="numberOfAccount.touched && numberOfAccount.invalid" class="text-danger" >this fiels is required </div>
                <div *ngIf="numberOfAccount.valid"> <div *ngIf="!notExist" class="text-danger" >Account number not exist</div> </div> 
          
              </div>
              </div>
          
      <div *ngIf="notExist">
            <div>
              <label for="firstNameSender" class="form-label ">First name of Sender account</label>
              <input [readonly]="true" formControlName="firstNameSender" type="text" class="form-control" id="firstNameSender">
             
            </div>    

            <div>
              <label for="lastNameSender" class="form-label ">Last name of Sender account</label>
              <input [readonly]="true" formControlName="lastNameSender" type="text" class="form-control" id="lastNameSender">
             
            </div>

            <div>  
            <label for="amountToSend" class="form-label">Amount to Send<span>*</span></label>
            <input  formControlName="amountToSend" type="number" class="form-control" id="amountToSend">

            <div *ngIf="amountToSend.touched && amountToSend.invalid" class="text-danger" >
              <div *ngIf="amountToSend.errors.required">this field is required</div>
              </div>

            </div>

            </div>

    </div>

    <div class="col-5 form-group m-3 receiver">
            <h4 class="p-3">Receiver</h4>

            <div>
              <label for="numberOfAccountReceiver" class="form-label ">Account number of the receiver<span>*</span></label>
              <input [style.color]="notExistAcc ? 'green' : 'red'" (keyup)="verifyaccountReceiver($event)"  formControlName="numberOfAccountReceiver" type="number" class="form-control" id="numberOfAccountReceiver">
              
              <div *ngIf="numberOfAccountReceiver.touched && numberOfAccountReceiver.invalid" class="text-danger" >
              this fiels is required</div>
              <div *ngIf="numberOfAccountReceiver.valid"> <div *ngIf="!notExistAcc" class="text-danger" >Account number not exist</div>  </div>
                
            </div>

<div *ngIf="notExistAcc">
            <div>

            <label for="firstNameReceiver" class="form-label ">First name of Receiver account</label>
            <input [readonly]="true" formControlName="firstNameReceiver" type="text" class="form-control" id="firstNameReceiver">
            
            </div>

            <div>
            <label for="lastNameReceiver" class="form-label ">Last name of Sender account</label>
            <input [readonly]="true" formControlName="lastNameReceiver" type="text" class="form-control" id="lastNameReceiver">
            
            </div>
    </div>
  </div>
</div>
<p style="text-align: center;" [style.color]="(msg=='Done!' ? 'green' : 'red')" >{{msg}}  </p>
<button type="submit" class="btn btn-success" >Send</button>
</form>