/*
footer{
    position: relative;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 15px;
    height:10%;
  }
  */
  footer{
    position:absolute;
    bottom:0;

    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 15px;
    height:2.5rem;
  }