/*
body{
    background-color:lightgrey;
}
*/
.form-control.ng-invalid.ng-touched.ng-dirty{
    border: 2px solid red;
}

.form-control.ng-pristine.ng-invalid.ng-touched{
    border: 2px solid red;
 
}

form{
    margin-top: 20px;
    border:1px solid lightgray;
    border-radius: 10px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    margin-left: 20%;
    margin-right:20%;
    width: 60%;
   }
   /*Hide the arrow up down of unput number field*/
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

button{
    margin-left: 20%;
    margin-right:20%;
    width: 60%;
    &:active{
        transform: translate(1px , 1px);
    }
    }