<button routerLink=""  >Go back</button>

<form [formGroup]="form" (ngSubmit)="upload()" >
    <div class="form-group m-3">
        
            <label for="accountNumber" class="form-label">Account Number<span>*</span></label>
            <input (keyup)="accountExist()" formControlName="accountNumber"  type="number" id="accountNumber" class="form-control">
            <div *ngIf="accountNumber.touched && accountNumber.invalid" class="text-danger" > 

               <div *ngIf="accountNumber.errors.required" > this field is required </div>
                <div class="text-danger" 
                *ngIf="accountNumber.value && accountNumber.errors.accountIsExist"> this account does not exist</div>
            </div>

            <label for="amountToUpload" class="form-label">Amount to upload<span>*</span></label>
            <input (keyup)="accountExist()" formControlName="amountToUpload"  type="number" id="amountToUpload" class="form-control">
            <div *ngIf="amountToUpload.touched && amountToUpload.invalid" class="text-danger" >
              <div *ngIf="amountToUpload.errors.required" >  this field is required</div>
            <div *ngIf=" amountToUpload.errors.atLeastTenEuro" >
                 minimum amount you can upload is 10 € </div>
            </div>
 </div>
 <p style="text-align:center;" [style.color]="(msg=='Done!') ? 'green' : 'red'" >{{msg}}</p>
 <button type="submit" class="btn btn-success" >Upload</button>
</form>